/* PAGE BACKGROUND */
body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    background: #0a5cf5;
    padding: 15px;
    color: white;
}

.back-btn {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 14px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.listing-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* DELETE BUTTON */
.delete-btn {
    padding: 10px 20px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    width: 100%;
}

.delete-btn:hover {
    background: #b52b27;
}


.edit-btn {
    padding: 10px 20px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    width: 100%;
}

.edit-btn:hover {
    background: #b52b27;
}
